<ion-header class="ion-no-border" #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="arrow-back-outline" class="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-searchbar mode="ios" color="light"
                   [placeholder]="'buscar' | translate" type="decimal" 
                   [debounce]="250"
                   (ionChange)="searchUser($event)">
      </ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" appHideHeader [header]="header">
  <ion-list lines="none">
    <ion-list-header>
      <h3>{{'asigna_trabajador' | translate}}</h3>
    </ion-list-header>
    <ion-item *ngFor="let user of workers | filterSearch: userSearch: 'name' : 'email'" 
              button="true"
              [color]="!user.isSelected ? 'unclicked': 'clicked'"
              (click)="pressed(user)">
      <ion-avatar class="avatar">
        <app-image-shell class="user-image" [display]="'cover'" animation="spinner" [src]="user.image" alt="item image">
          <app-aspect-ratio [ratio]="{w:1, h:1}">
            <ion-icon *ngIf="user.isSelected" class="profile-icon-settings" [name]="icons.checkmark_circle">
            </ion-icon>
          </app-aspect-ratio>
        </app-image-shell>
      </ion-avatar>
      <ion-label class="data-values">
        <h4 class="user-name">
          <app-text-shell [data]="user.name"></app-text-shell>
        </h4>
        <p class="user-mail">
          <app-text-shell [data]="user.email"></app-text-shell>
        </p>
        <p class="user-role">
          <app-text-shell [data]="user.role"></app-text-shell>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setWorkers()">
      <ion-icon [name]="icons.send"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>