:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
}

app-image-shell.user-image {
  --image-shell-loading-background: rgba(var(--ion-color-bright-blue-rgb), 0.25);
  --image-shell-spinner-color: var(--ion-color-bright-blue-tint);
  --image-shell-border-radius: 100%;
  --image-shell-overlay-background: linear-gradient(180deg, rgba(var(--ion-color-dark-rgb), 1) 0%, rgba(var(--ion-color-dark-rgb), 0.40) 25%, rgba(var(--ion-color-dark-rgb), 0.15) 100%);
}

.user-name {
  text-transform: capitalize;
  font-weight: bold;
  color: black !important;
}

.user-role {
  text-transform: capitalize;
  font-weight: bold;
  color: #3b69ff !important;
}

.user-mail {
  color: gray !important;
}

ion-toolbar {
  --background: var(--ion-color-principal)
}

.bg-red{
  --background: red !important;
}

.avatar {
  margin-right: 10px;
  display: block;
  width: 60px;
  height: 60px;
}

.profile-icon-settings {
  color: blue;
  width: 25%;
  height: 25%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 !important;
  border-radius: 50%;
  background-color:white
}

.icon-only {
  color: white;
  font-weight: bold;
}

ion-title {
  color: white;
}

.data-values {
  h4 {
    margin: 0 !important;
  }

  p {
    margin: 0 !important;
  }
}