
// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

ion-toolbar {
  --background: var(--ion-color-principal)
}

ion-back-button {
  color: white;
}

.ion-title {
  color: white;
  padding-left: 0px !important;
  position: relative;
  left: -6px;
}

.forgot-password-contain {
  vertical-align: middle;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.forgot-password-content {
  --background: var(--page-background);
  --padding-start: 10px !important;
  --padding-end: 10px !important;
  --padding-top: 10px !important;
  --padding-bottom: 10px !important;

  .auth-title {
    color: var(--ion-color-second);
    font-weight: bold;
    text-align: start;
    margin-top: calc(var(--page-margin) / 2);
    margin-bottom: calc(var(--page-margin) * (3/2));
  }

  .recover-message {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px;
  }

  .inputs-list {
    --ion-item-background: var(--page-background);

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }

    .error-container {
      .error-message {
        margin: calc(var(--page-margin) / 2) 0px;
        display: flex;
        align-items: center;
        color: var(--ion-color-danger);
        font-size: 14px;

        ion-icon {
          padding-inline-end: calc(var(--page-margin) / 2);
        }
      }
    }
  }

  .reset-password-btn {
    margin: calc(var(--page-margin) / 2) 0px;
  }
}

.flecha {
  position: relative;
  left: -6px;
}
