@import "../../../theme/mixins/ion-color.scss";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);

  // Add custom colors to use with [color] property
  @include ion-color('bright-blue') {
    --ion-color-bright-blue: #001CFF;
    --ion-color-bright-blue-rgb: 0,28,255;
    --ion-color-bright-blue-contrast: #ffffff;
    --ion-color-bright-blue-contrast-rgb: 255,255,255;
    --ion-color-bright-blue-shade: #0019e0;
    --ion-color-bright-blue-tint: #1a33ff;
  }

  @include ion-color('bright-pink') {
    --ion-color-bright-pink: #FF0DCB;
    --ion-color-bright-pink-rgb: 255,13,203;
    --ion-color-bright-pink-contrast: #ffffff;
    --ion-color-bright-pink-contrast-rgb: 255,255,255;
    --ion-color-bright-pink-shade: #e00bb3;
    --ion-color-bright-pink-tint: #ff25d0;
  }
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
ion-toolbar {
  --background: #3b69ff;
}

ion-back-button {
  color: white;
}

.ion-title {
  color: white;
  font-weight: bold;
}

.css-card {
  background-color: white !important;
  padding: 0 !important;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
  --ion-color-shade: black !important;
}

.css-card-content {
  padding: 0;
  margin: 0;
}

.messages-values {
  color: black;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  margin-right: 3%;
  text-align: center !important; 
  font-size: 100% !important;
}

.messages-values-titles {
  color: black;
  padding: 0;
  font-weight: bold;
  margin-left: 3%;
  text-align: center !important; 
  font-size: 100% !important;
}

.user-content {
  --background: var(--page-background);

  .img-responsive {
    width: auto;
    height: auto;
    margin-top: 10%;
    display: block;
    margin-left: 8%;
    margin-right: auto;
  }

  .user-preferences-wrapper {
    --ion-grid-column-padding: 0px;

    padding: var(--page-margin);

    .preference-name {
      font-size: 100%;
      vertical-align: auto !important;
      margin: 0% 0% 0%;
      color:  #3b69ff;
      font-weight: bold;
      text-transform: capitalize;
      text-align: left !important; 
    }

    .preference-email {
      font-size: 100%;
      margin: 0px 0px calc(var(--page-margin) / 10);
      color: var(--ion-color-dark-tint);
    }

    .font-title {
      font-size: 84%;
      text-align: center;
    }

    .number-title {
      font-size: 120%;
      text-align: center;
    }

    .preference-value {
      font-size: 100%;
      margin: 0px 0px calc(var(--page-margin) / 10);
      font-weight: bold;
      color: var(--ion-color-dark-tint);
    }
  }

  .edit-btn {
    color: white !important;
  }

  .buttons-col {
    padding: 0;
    margin-left: 2%;
  }

  .css-toolbar {
    background-color: #3b69ff !important;
  }

}
