<ion-header>
  <ion-toolbar mode="ios">
    <ion-title class="ion-title" mode="md">{{'ranking' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ngx-datatable [ngClass]="'bootstrap fullscreen'"
                                    [rows]="usersRanking"
                                    [sortType]="'multi'"
                                    [reorderable]="'false'"
                                    [columnMode]="'force'"
                                    [rowHeight]="'auto'"
                                    [footerHeight]="40"
                                    [sorts]="sortList"
                                    [limit]="8"
                                    (activate)="goToProfile($event)"
                                    >
    <ngx-datatable-column [sortable]="false" [cellClass]="'user-image-values'" name="image">
      <ng-template ngx-datatable-header-template>
        <ion-icon slot="icon-only">
        </ion-icon>
      </ng-template>
      <ng-template class="content" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <ion-avatar class="user-image">
          <img [src]="value" />
          <ion-chip class="text" color="primary" mode="ios">
            <ion-label>{{rowIndex + 1 }}</ion-label>
          </ion-chip>
        </ion-avatar>
        
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column class="sent-messages" [cellClass]="'messages-quantity'" name="sentMessages">
      <ng-template ngx-datatable-header-template>
        <ion-icon slot="icon-only" class="sended-icon" [src]="svgIcons.sended_msg">
        </ion-icon>
      </ng-template>
      <ng-template class="content" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{(value | shortNumberSuffix)}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [cellClass]="'rating-quantity-likes'" name="sentMessagesLikes">
      <ng-template ngx-datatable-header-template>
        <ion-icon slot="icon-only" class="like-icon" [name]="icons.happy">
        </ion-icon>
      </ng-template>
      <ng-template class="content" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{(value | shortNumberSuffix)}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [cellClass]="'rating-quantity-dislikes'" name="sentMessagesDislikes">
      <ng-template ngx-datatable-header-template>
        <ion-icon class="like-icon" slot="icon-only" class="dislike-icon" [name]="icons.sad">
        </ion-icon>
      </ng-template>
      <ng-template class="content" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{(value | shortNumberSuffix)}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [cellClass]="'messages-quantity'" name="receivedMessages">
      <ng-template ngx-datatable-header-template>
        <ion-icon slot="icon-only" class="sended-icon" [src]="svgIcons.received_msg">
        </ion-icon>
      </ng-template>
      <ng-template class="content" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{(value | shortNumberSuffix)}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [cellClass]="'rating-quantity-likes'" name="receivedMessagesLikes">
      <ng-template ngx-datatable-header-template>
        <ion-icon slot="icon-only" class="like-icon" [name]="icons.happy">
        </ion-icon>
      </ng-template>
      <ng-template class="content" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{(value | shortNumberSuffix)}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [cellClass]="'rating-quantity-dislikes'" name="receivedMessagesDislikes">
      <ng-template ngx-datatable-header-template>
        <ion-icon slot="icon-only" class="dislike-icon" [name]="icons.sad">
        </ion-icon>
      </ng-template>
      <ng-template class="content" ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        {{(value | shortNumberSuffix)}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  
</ion-content>
