<ion-header #header>
  <ion-toolbar mode="md">
    <ion-title class="ion-title" mode="md">{{'perfil' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="displayOptionsMenu($event)" color="light">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="user-content" scrollEvents="true" appHideHeader [header]="header">
  <ion-row>
    <ion-col size="5" class="ion-align-self-end">
      <ion-row>
        <ion-col size="12">
          <ion-avatar class="img-responsive">
            <app-image-shell class="user-image" [display]="'cover'" animation="spinner" [src]="user?.image" [alt]="'item image'">
              <app-aspect-ratio [ratio]="{w:1, h:1}">
                <ion-icon (click)="presentModal()" class="profile-icon-settings" name="person-circle-outline">
                </ion-icon>
              </app-aspect-ratio>
            </app-image-shell>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="7" class="vertical-col-align">
      <ion-row>
        <ion-col size="6" class="vertical-align">
          <ion-row class="user-preferences-wrapper css-card-content">
            <ion-col size="12">
              <p class="messages-values">
                <app-text-shell [data]="user?.sentMessages || '0' | shortNumberSuffix"></app-text-shell>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="css-card-calification-col">
              <ion-row  class="user-preferences-wrapper css-card-calification">
                <ion-col size="6" class="calification-values">
                  <p>
                    
                    {{180000000 || '0' | shortNumberSuffix}}
                    <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon>
                  </p>
                </ion-col>
                <ion-col size="6" class="calification-values">
                  <p>
                    
                    {{125000000 || '0' | shortNumberSuffix}}
                    <ion-icon slot="start" name="thumbs-down-sharp"></ion-icon>
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="user-preferences-wrapper css-static-text-information">
            <ion-col size="12">
              <p class="messages-values-titles">
                {{ 'enviados' | translate }}
              </p>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="6" class="vertical-align">
          <ion-row class="user-preferences-wrapper css-card-content">
            <ion-col size="12">
              <p class="messages-values">
                <app-text-shell [data]="user?.receivedMessages || '0' | shortNumberSuffix"></app-text-shell>
              </p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="css-card-calification-col">
              <ion-row  class="user-preferences-wrapper css-card-calification">
                <ion-col size="6" class="calification-values">
                  <p>
                    {{125000000 || '0' | shortNumberSuffix}}
                    <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon>
                  </p>
                </ion-col>
                <ion-col size="6" class="calification-values">
                  <p>
                    {{150000000 || '0' | shortNumberSuffix}}
                    <ion-icon slot="start" name="thumbs-down-sharp"></ion-icon>
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row class="user-preferences-wrapper css-static-text-information">
            <ion-col size="12">
              <p class="messages-values-titles">
                {{ 'recibidos' | translate }}
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7" class="user-preferences-wrapper ion-col-userdata center-in-col">
      <h3 class="preference-value">
        <app-text-shell [data]="user?.name"></app-text-shell>
      </h3>
      <p class="preference-email">
        <app-text-shell [data]="user?.email"></app-text-shell>
      </p>
      <p class="preference-name">
        <app-text-shell [data]="user?.role"></app-text-shell>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
