<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-title">Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="user-content">
  <ion-row>
    <ion-col size="12" class="ion-align-self-end">
      <ion-avatar class="img-responsive">
        <app-image-shell class="user-image" [display]="'cover'" animation="spinner" [src]="user?.image" [alt]="'item image'">
          <app-aspect-ratio [ratio]="{w:1, h:1}">
          </app-aspect-ratio>
        </app-image-shell>
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-row class="user-preferences-wrapper">
    <ion-col size="12">
      <h3 class="preference-value">
        <app-text-shell [data]="user?.name"></app-text-shell>
      </h3>
    </ion-col>
    <ion-col size="12">
      <p class="preference-value">
        <app-text-shell [data]="user?.email"></app-text-shell>
      </p>
    </ion-col>
    <ion-col size="12">
      <p class="preference-name">
        <app-text-shell [data]="user?.role"></app-text-shell>
      </p>
    </ion-col>
    <ion-col size="12">
      <ion-button class="sign-out-btn" expand="block" fill="clear" (click)="signOut()">Cerrar Sesión</ion-button>
    </ion-col>
  </ion-row>
  <ion-card class="css-card">
    <ion-card-content>
      <ion-row class="user-preferences-wrapper">
        <ion-col>
          <p class="messages-values">
            <app-text-shell [data]="user?.sentMessages.toString()"></app-text-shell>
          </p>
          <p class="messages-values-titles">
            Mensajes Enviados
          </p>
        </ion-col>
        <ion-col>
          <p class="messages-values">
            <app-text-shell [data]="user?.receivedMessages.toString()"></app-text-shell>
          </p>
          <p class="messages-values-titles">
            Mensajes Recibidos
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col size="12">
      <ion-button expand="block" size="small" (click)="presentModal()">Editar Perfil</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
