<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar #header>
    <ion-title mode="md">
      {{'selecciona_supervisor' | translate}}
    </ion-title>
  </ion-toolbar>
  <ion-searchbar mode="ios" color="light" style="background-color: white !important;"
                   [placeholder]="'buscar' | translate" type="decimal" 
                   [debounce]="250"
                   (ionChange)="searchUser($event)">
  </ion-searchbar>
</ion-header>

<ion-content scrollEvents="true" appHideHeader [header]="header">
  <ion-list class="list-val" lines="none">
    <ion-item *ngFor="let user of supervisors | filterSearch: userSearch: 'name' : 'email'" 
              button="true" 
              (click)="goToSetWorkers(user)">
      <ion-avatar class="avatar">
        <app-image-shell class="user-image" [display]="'cover'" animation="spinner" [src]="user.image" alt="item image">
          <app-aspect-ratio [ratio]="{w:1, h:1}">
            <ion-icon *ngIf="user.isSelected" class="profile-icon-settings" [name]="icons.checkmark_circle">
            </ion-icon>
          </app-aspect-ratio>
        </app-image-shell>
      </ion-avatar>
      <ion-label class="data-values">
        <h4 class="user-name">
          <app-text-shell [data]="user.name"></app-text-shell>
        </h4>
        <p class="user-mail">
          <app-text-shell [data]="user.email"></app-text-shell>
        </p>
        <p class="user-role">
          <app-text-shell [data]="user.role"></app-text-shell>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>