// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-broad-margin);
  --page-background: var(--app-background-shade);
}

ion-toolbar {
  --background: var(--ion-color-principal)
}

ion-back-button {
  color: white;
}

.ion-title {
  color: white;
  padding-left: 10px !important;
}

.forgot-password-contain {
  vertical-align: middle;
}

#file-input {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 999;
}

.img-responsive {
  zoom: 2.0;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.signup-content {
  --background: var(--page-background);
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .auth-title {
    color: var(--ion-color-dark);
    font-weight: bold;
    margin-top: calc(var(--page-margin) / 2);
    margin-bottom: calc(var(--page-margin) * (3/2));
    letter-spacing: 0.6px;
    text-align: center;
  }

  .inputs-list {
    --ion-item-background: var(--page-background);
    padding: 0 !important;

    .input-item {
      --padding-start: 0px;
      --padding-end: 0px;
      --inner-padding-end: 0px;
    }
  }

  .error-container {
    .error-message {
      margin: calc(var(--page-margin) / 2) 0px;
      display: flex;
      align-items: center;
      color: var(--ion-color-danger);
      font-size: 14px;

      ion-icon {
        padding-inline-end: calc(var(--page-margin) / 2);
      }
    }
  }

  .signup-btn {
    margin: calc(var(--page-margin) / 2) 0px;
  }

  .other-auth-options-row {
    justify-content: center;
    align-items: center;

    .login-btn {
      --color: var(--ion-color-principal);
      margin: 0px;
      font-size: small;

      &:focus {
        outline: none;
      }
    }
  }

  .photo-values {
    align-items: center !important;
    text-align: center;
  }

}
