.edit-btn {
  color: rgb(68, 0, 146) !important;
}

.toggle-options {
  --background: #7c7c7c;
  --background-checked: #678bff;
  --handle-background: #b4b3b3;
  --handle-background-checked: #3b69ff;
  --handle-spacing: 0px !important;
  width: 45px;
}

.label-size {
  width: 1px;
  height: 1px;
}