<ion-header class="ion-no-border" #header>
  <ion-toolbar>
    <ion-searchbar mode="ios" color="light" class="seachbar"
                  [placeholder]="'buscar' | translate" type="decimal" 
                  [debounce]="250"
                  (ionChange)="searchMessage($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" appHideHeader [header]="header">
  <ion-list lines="full">
    <ion-item-sliding *ngFor="let message of sentMessages | filterSearch: messageSearch: 'title' : 'to'" #slidingItem>
      <ion-item button="true" (click)="openMessage(message)">
        <ion-label>
          <ion-row>
            <ion-col size="8" class="col-name-values">
              <ion-label>
                <h3 class="text-margin">
                  {{ 'para' | translate }}{{ message.to }}
                </h3>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="col-role-values">
              <ion-chip color="dark" mode="ios" outline="true">
                <p class="text-values" *ngIf="message | filterMessagePublishable">
                  {{ 'publicable' | translate }}
                </p>
                <p *ngIf="!(message | filterMessagePublishable)">
                  {{ 'no_publicable' | translate }}
                </p>
              </ion-chip> 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8" class="col-data-values">
              <ion-label>
                <h4 class="title-values text-margin">
                  {{ message.title }}
                </h4>
                <h4 class="date-values text-margin">
                  {{ 'fecha' | translate }}{{ message.date }}
                </h4>
              </ion-label>
            </ion-col>
            <ion-col size="4" class="col-chip-values">
              <ion-row  class="user-preferences-wrapper css-card-calification">
                <ion-col size="6" class="calification-values">
                  <p class="p1">
                    {{message.likes || '0' | shortNumberSuffix}}
                    <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon>
                  </p>
                </ion-col>
                <ion-col size="6" class="calification-values">
                  <p class="p2">
                    {{message.dislikes || '0' | shortNumberSuffix}}
                    <ion-icon slot="start" name="thumbs-down-sharp"></ion-icon>
                  </p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
      <ion-item-options side="start" (ionSwipe)="likeMessage(slidingItem, message)">
        <ion-item-option class="ion-item-options-values">
          <ion-icon slot="icon-only" name="thumbs-up-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end" (ionSwipe)="unlikeMessage(slidingItem, message)">
        <ion-item-option class="ion-item-options-values">
          <ion-icon slot="icon-only" name="thumbs-down-sharp"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-item *ngIf="sentMessages?.length === 0" lines="none" >
    <ion-label class="item-not-messages">
      <p>
        <ion-icon slot="icon-only" name="mail"></ion-icon>
      </p>
    </ion-label>
  </ion-item>
  <h3 class="text-not-messages" *ngIf="sentMessages?.length === 0" lines="none">
    {{ 'no_hay_mensajes' | translate }}
  </h3>
</ion-content>
