
ion-title {
  color: white;
  padding-left: 10px !important;
}

ion-toolbar {
  --background: var(--ion-color-principal)
}

.icon-only {
  color: white;
  font-weight: bold;
}

.icon-style {
  color: rgb(68, 0, 146);
}

.toggle-options {
  --background: #7c7c7c;
  --background-checked: #678bff;
  --handle-background: #b4b3b3;
  --handle-background-checked: #144afa;
  --handle-spacing: 0px !important;
  padding: 0 !important;
}

.col-chip-values {
  padding: 0 !important;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  vertical-align: middle;
}

.inputs-list {
  --ion-item-background: var(--ion-color-bgi);
  padding-bottom: 0px !important;
  padding-top: 0px !important;

  .input-item {

    ion-label{
      margin: 0 !important;
    }

    .title-values {
      margin-bottom: 0 !important;
      text-transform: capitalize;
    }

    .from-values {
      margin-bottom: 0 !important;
      font-size: small;
      font-weight: bold;
    }

    .to-values {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      font-size: small;
      font-weight: bold;
    }
  }
}

.likes {
  padding-right: 30px !important;
}

.col-role-values {
  padding: 0; 
  align-items: center; 
  position: relative; 
  text-align: center;
  padding-top: 20px !important;
  
  ion-chip {
    vertical-align: middle !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin: 0 !important; 
    background-color: #3b69ff; 
    margin-right: 0 !important; 
    height: 21px !important;
    width: 75px !important;

    p {
      color: white; 
      font-weight: bold; 
      font-size: x-small; 
      padding: 0 !important;
    }

  }
}

.col-title {
  padding: 0 !important;
}

.icon-values {
  padding-right: 3px !important;
}

.date-values {
  font-size: 12px;
  margin: 0 !important;
  color: gray;
}

.text-values {
  width: 68px !important;
}

.margin-chip {
  padding-top: 0 !important;
}

.col-califications {
  padding: 0 !important;
}

.calification-values {
  padding: 0 !important;
  text-align: center !important;
  font-size: 90% !important;
  width: auto;
  height: auto;
  position: relative;
  margin-right: auto;
  margin-bottom: 0 !important;
  vertical-align: bottom !important;

  .p1 {
    padding-left: 0px !important;
    color: gray;
    margin: 0 !important;
    text-align: end;
  }
  .p2 {
    padding-right: 0px !important;
    color: gray;
    margin: 0 !important;
    text-align: end;
  }
}

.label-size {
  color: gray;
  
  margin: 0 !important
}

.icon-buttons {

} 

.icon-heart {
  padding-left: 3px !important;
}

.toggle-options {
  --background: #7c7c7c !important;
  --background-checked: #678bff !important;
  --handle-background: #b4b3b3 !important;
  --handle-background-checked: var(--ion-color-principal) !important;
  --handle-spacing: 0px !important;
  padding: 0 !important;
  padding-left: 2px !important;
}

.publishable-values {
  --inner-padding-start: 0px !important;
  --inner-padding-end: 0 !important;

  p {
    font-size: small !important;
  }

  ion-toggle {
    padding-right: 12px !important;
    height: 25px !important;
    width: 45px !important;
  }
}

.div-toggle {
  display: inline-flex;
  margin: 0 !important;
  text-transform: none !important;
  --color: gray;

  padding-inline-start: 0px !important;
  position: relative;
  left: -5px !important;
}
