ion-title {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

ion-title {
  padding-left: 0px !important;
  padding-right: 0px !important;
  color: white;
}

ion-toolbar {
  --background: #3b69ff;
}

.icon-only {
  color: white;
  font-weight: bold;
}

.icon-style {
  color: rgb(68, 0, 146);
}

.inputs-list {
  --ion-item-background: var(--page-background);

  .input-item {

    .title-values {
      margin-bottom: 0 !important;
      text-transform: capitalize;
    }

    .from-values {
      margin-bottom: 0 !important;
      font-size: small;
      font-weight: bold;
      color: gray;
    }

    .to-values {
      margin-top: 0 !important;
      font-size: small;
      font-weight: bold;
      color: gray;
    }
  }
}

.likes {
  padding-right: 30px !important;
}

.col-role-values {
  padding: 0; 
  align-items: center; 
  position: relative; 
  text-align: center;
  padding-top: 20px !important;
  
  ion-chip {
    vertical-align: middle !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    margin: 0 !important; 
    background-color: #3b69ff; 
    margin-right: 0 !important; 
    height: 21px !important;
    width: 75px !important;

    p {
      color: white; 
      font-weight: bold; 
      font-size: x-small; 
      padding: 0 !important;
    }

  }
}

.col-title {
  padding: 0 !important;
}

.date-values {
  font-weight: bold;
  font-size: small;
}

.text-values {
  width: 68px !important;
}

.calification-values {
  color: rgb(68, 0, 146);
  padding: 0 !important;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center !important;
  font-size: 90% !important;
  width: auto;
  height: auto;
  display: block;
  position: relative;
  margin-right: auto;

  .p1 {
    vertical-align: super !important;
    padding-left: 9px !important;
  }
  .p2 {
    padding-right: 9px !important;
  }
}
