<ion-header class="ion-no-border" #header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="arrow-back-outline" class="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'detalle_mensaje' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="send-message-content" scrollEvents="true" appHideHeader [header]="header">
    <ion-list class="inputs-list" lines="none">
      <ion-item class="input-item">
        <h5 class="title-values">
          {{ messageDetail.title }}
        </h5>
      </ion-item>
      <ion-item class="input-item">
        <ion-label >
          <p class="date-values">
            {{ messageDetail.date.seconds * 1000 | date : 'short' }}
          </p>
          <h4 class="from-values">
            <ion-icon slot="start" class="locker-color" [name]="icons.lock_closed_sharp" *ngIf="messageDetail.isPublishableSender === false">
            </ion-icon>
            <ion-icon slot="start" [name]="icons.lock_open_sharp" *ngIf="messageDetail.isPublishableSender === true">
            </ion-icon>
            {{ messageDetail.from }}
          </h4>
          <h4 class="to-values">
            <ion-icon slot="start" class="locker-color" [name]="icons.lock_closed_sharp" *ngIf="messageDetail.isPublishableReceiver === false">
            </ion-icon>
            <ion-icon slot="start" [name]="icons.lock_open_sharp" *ngIf="messageDetail.isPublishableReceiver === true">
            </ion-icon>
            {{ messageDetail.to }}
          </h4>
        </ion-label>
      </ion-item>
      <ion-item  class="publishable-values">
          <ion-row>
            <ion-col size="6" class="calification-values">
              <p class="p1">
                <ion-icon slot="start" [name]="icons.happy" [style.color]="checkifLiked(messageDetail) ? 'blue' : 'rgb(90, 89, 89)'"></ion-icon>
                {{messageDetail.likes || '0' | shortNumberSuffix}}   
              </p>
            </ion-col>
            <ion-col size="6" class="calification-values">
              <p class="p2">
                <ion-icon slot="start" [name]="icons.sad" [style.color]="checkifDisliked(messageDetail) ? 'blue' : 'rgb(90, 89, 89)'"></ion-icon>
                {{messageDetail.dislikes || '0' | shortNumberSuffix}}
              </p>
            </ion-col>
          </ion-row>
          <ion-label (click)="changePublishableMessage()" class="div-toggle">
            <p class="label-size" *ngIf="messageDetail.uidReceiver === userLogged.uid"> {{ 'valido_para_publicar' | translate}} </p>
            <ion-toggle class="toggle-options" mode="ios" slot="end" [(ngModel)]="messageDetail.isPublishableReceiver" *ngIf="messageDetail.uidReceiver === userLogged.uid">
            </ion-toggle>
          </ion-label>
      </ion-item>
      <ion-item>
        <div [innerHTML]="messageDetail.message | safeHtml">
        </div>
      </ion-item>
  </ion-list>
</ion-content>