<ion-content class="not-found-content">
  <div class="illustration-wrapper">
    <app-aspect-ratio [ratio]="{w: 1, h: 1}">
      <app-image-shell [src]="'./assets/sample-images/page-not-found.svg'" [alt]="'not found page'"></app-image-shell>
    </app-aspect-ratio>
  </div>
  <div class="not-found-title">{{ this.staticText.error_no_econtrado }}</div>
  <div class="not-found-text">{{ this.staticText.pagina_no_encontrada }}</div>
  <ion-button class="go-home-btn" expand="block" fill="outline" [routerLink]="['/']">{{ this.staticText.regresar_p_principal }}</ion-button>
</ion-content>
