<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-title">Reestablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password-content">
  <h4 class="auth-title">Ingresa una nueva contraseña</h4>
  <p class="recover-message">
    NOTA: Coloca la nueva clave cuidadosamente.
  </p>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="setNewPassword()">
    <ion-list class="inputs-list" lines="full">
      <app-show-hide-password>
        <ion-input type="password" placeholder="Nueva Contraseña" formControlName="password"></ion-input>
      </app-show-hide-password>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="forgotPasswordForm.get('password').hasError(validation.type) && (forgotPasswordForm.get('password').dirty || forgotPasswordForm.get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-button class="reset-password-btn" type="submit" expand="block" [disabled]="!forgotPasswordForm.valid">Aceptar</ion-button>
  </form>
</ion-content>
